/* creating space between navbar and header after fixing navbar */
/* add psuedo selector */
body::before {
    display: block;
    content: '';
    /* between navbar and header 50px */
    height: 50px;

}

/* creatin id map sizes */
#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}